.error,
.success {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 120;
  padding-right: 40px;
  background-color: rgb(215, 86, 86);
  border-radius: 5px;
  animation: show_alert 0.3s linear;
}

.error p,
.success p {
  background-color: rgb(215, 86, 86);
  padding: 20px;
  border-radius: 5px;
}


.success p,
.success {
  background-color: rgb(98, 187, 98);
}

@keyframes show_alert {
  from {
    bottom: -100px;
  }

  to {
    bottom: 10px;
  }
}
