.contact_item {
  display: flex;
  border-bottom: 1px solid white;
  padding: 15px;
  gap: 10px;
}

.contact_avatar {
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_info {
  flex: 1;
}

.online,
.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  background-color: gray;
}
